@page
@model Area51.Pages.Aliens.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alien.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alien.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alien.DateFound)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alien.DateFound)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alien.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alien.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alien.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alien.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alien.colour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alien.colour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alien.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alien.description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Alien.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
